{% if current is not defined %}
    {% set current = app.request.getPathInfo|trim('/') %}
    {% set current_splitted = current|split('/') %}
    {% set current = current_splitted[0] %}
{% endif %}

<nav id="nav" class="skel-layers-fixed">

    {% block navbar_left %}
        <div class="left">
            <img class="logo" src="{{ asset('images/bv-logo-1.png') }}"/>
        </div>
    {% endblock %}

    {% block navbar_right %}
        <div class="right">
            <img class="logo" src="{{ asset('images/bv-logo-1.png') }}" style="visibility: hidden;"/>
        </div>
    {% endblock %}

    {% block navbar_center %}
        <ul class="center">
            <li {{ current == "" ? 'class="current"' }}><a href="/">Home</a></li>
            <li {{ current == "nieuws" ? 'class="current"' }}><a href="/nieuws">Nieuws</a></li>
            <li {{ current == "over-ons" ? 'class="current"' }}><a href="/over-ons">Over ons</a></li>
            <li {{ current == "verhuur" ? 'class="current"' }}>
                <a href="/over-ons/speltakken">Speltakken</a>
                <ul>
                    <li><a href="/over-ons/speltakken/bevers">Bevers</a></li>
                    <li><a href="/over-ons/speltakken/estas">Esta's</a></li>
                    <li><a href="/over-ons/speltakken/mercators">Mercators</a></li>
                    <li><a href="/over-ons/speltakken/explorers">Explorers</a></li>
                </ul>
            </li>
            <li {{ current == "verhuur" ? 'class="current"' }}><a href="/verhuur">Verhuur</a></li>
        </ul>
    {% endblock %}
    
</nav>

