{% set url = path('stef_bvbundle_news_show', { 'slug': news.slug })  %}

    <div class="content content-left">
        <article class="box post" style="cursor: pointer;" onclick="redirect_to_news_item('{{ url }}')">
            <header><h3 style="text-align: center;"><a href="{{ url }}">{{ news.title }}</a></h3></header>

            {% if news.picture is null %}
                <img class="news-feature-cropped" src="/images/carousel/slider1.jpg" alt="{{ news.title }}">
            {% elseif asset_exists(asset(news.picture)) %}
                <img class="news-feature-cropped" src="{{ asset(news.picture) }}" alt="{{ news.title }}">
            {% else %}
                <img class="news-feature-cropped" src="/images/carousel/slider1.jpg" alt="{{ news.title }}">
            {% endif %}
            <p style="padding: 2em;">
                {{ news.description }}
            </p>
        </article>
    </div>


<script>
    function redirect_to_news_item(url)
    {
        window.location = url;
    }
</script>