{% set car1 = {'h1' : '<a href="http://brigittavalentijn.nl/nieuws/halloween-spooktocht-2014">Halloween Spooktocht</a>', 'active' : 'active', 'imageurl' : asset('uploads/temp/halloween.jpg'), 'imagealt' : 'Halloween Spooktocht in Loosduinen', 'body' : '<p>Zaterdag 1 november vanaf 18:00 uur aan de wijndalerweg! Zie ook onze <a href="https://www.facebook.com/brigittavalentijn">Facebookpagina</a></p>'} %}
{% set car2 = {'h1' : 'Nieuwe website', 'active' : '', 'imageurl' : asset('uploads/temp/logo-black.jpg'), 'imagealt' : 'BVLogo', 'body' : 'Wegens technische problemen is besloten een (deel van) de nieuwe website vroegtijdig online te zetten. De komende periode zal de nieuwe website langzaam aan u ontvouwen</p>'} %}
{% set car3 = {'h1' : 'Halloween Spooktocht', 'active' : '', 'imageurl' : asset('uploads/temp/logo-black.jpg'), 'imagealt' : 'Halloween Spooktocht in Loosduinen', 'body' : '<p>Zaterdag 1 november vanaf 18:00 uur aan de wijndalerweg! Zie ook onze <a href="https://www.facebook.com/brigittavalentijn">Facebookpagina</a></p>'} %}

{% set carouselItems = {0 : car1, 1 : car2, 2 : car3} %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Scouting Brigitta / Valentijn</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <!-- <link href="{{ asset('css/bootstrap/themes/superhero.css') }}" rel="stylesheet" media="screen"> -->
    <link href="{{ asset('css/bootstrap/carousel.css') }}" rel="stylesheet" mwwwedia="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<!-- NAVBAR
================================================== -->
<body>
<!-- Carousel
================================================== -->
{% include 'StefBVBundle:Blocks:carousel.base.html.twig' %}

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <a href="http://brigittavalentijn.nl/nieuws/halloween-spooktocht-2014"><img class="img-circle" src="{{  asset('uploads/temp/logo.jpg') }}" alt="Generic placeholder image" style="width: 140px; height: 140px;"></a>
            <h2><a href="http://brigittavalentijn.nl/nieuws/halloween-spooktocht-2014">Halloween Spooktocht</a></h2>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <a href="http://brigittavalentijn.nl/over-ons/adres"><img class="img-circle" src="{{  asset('uploads/temp/logo.jpg') }}" alt="Generic placeholder image" style="width: 140px; height: 140px;"></a>
            <h2><a href="http://brigittavalentijn.nl/over-ons/adres">Adres</a></h2>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <a href="http://brigittavalentijn.nl/nieuws/technische-problemen-en-een-nieuwe-website"><img class="img-circle" src="{{  asset('uploads/temp/logo.jpg') }}" alt="Generic placeholder image" style="width: 140px; height: 140px;"></a>
            <h2><a href="http://brigittavalentijn.nl/nieuws/technische-problemen-en-een-nieuwe-website">Website</a></h2>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    {% set counter = 1 %}
    {% for newsitem in newsitems %}
        {% if counter is odd %}
            {% set position = 'odd' %}
        {%  else %}
            {% set position = 'even' %}
        {% endif %}

        {% include 'StefBVBundle:Blocks:news.item.index.html.twig' with {newsitem : newsitem, position : position} %}

        {% set counter = counter + 1 %}
    {% endfor %}

    <hr class="featurette-divider">

    <footer>
        <p class="pull-right"><a href="#">Naar boven</a></p>
        <p>&copy; Brigitta-Valentijn - Aangeboden door <a href="http://stefanius.nl">Stefanius.nl</a></p>
    </footer>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->

<!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
<script src="{{ asset('js/jquery.js') }}"></script>
<!-- Include all JavaScripts, compiled by Assetic -->
<script src="{{ asset('js/bootstrap.js') }}"></script>
<script src="{{ asset('js/bootstrap_carousel_4.js') }}"></script>

</body>
</html>
