<div class="bv-slider">
    <div class="slick-slide">
        <img src="{{ asset('images/carousel/slider1.jpg') }}">
    </div>
    <div class="slick-slide">
        <img src="{{ asset('images/carousel/slider2.jpg') }}">
    </div>
    <div class="slick-slide">
        <img src="{{ asset('images/carousel/slider3.jpg') }}">
    </div>
    <div class="slick-slide">
        <img src="{{ asset('images/carousel/slider4.jpg') }}">
    </div>
    <div class="slick-slide">
        <img src="{{ asset('images/carousel/slider5.jpg') }}">
    </div>
    <div class="slick-slide">
        <img src="{{ asset('images/carousel/slider6.jpg') }}">
    </div>
</div>