<div class="bv-slider">
    <div class="slick-slide">
        <img src="{{ asset('images/carousel/item_01.jpg') }}" alt="Brigitta Valentijn Logo">
    </div>

    <div class="slick-slide">
        <img src="{{ asset('images/carousel/item_02.jpg') }}" alt="Brigitta Valentijn Logo">
    </div>

    <div class="slick-slide">
        <img src="{{ asset('images/carousel/item_03.jpg') }}" alt="Brigitta Valentijn Logo">
    </div>

    <div class="slick-slide">
        <img src="{{ asset('images/carousel/item_04.jpg') }}" alt="Brigitta Valentijn Logo">
    </div>

    <div class="slick-slide">
        <img src="{{ asset('images/carousel/item_05.jpg') }}" alt="Brigitta Valentijn Logo">
    </div>

    <div class="slick-slide">
        <img src="{{ asset('images/carousel/item_06.jpg') }}" alt="Brigitta Valentijn Logo">
    </div>

    <div class="slick-slide">
        <img src="{{ asset('images/carousel/item_07.jpg') }}" alt="Brigitta Valentijn Logo">
    </div>
</div>