{% extends 'StefBVAdminBundle::form.html.twig' %}
{% set pagetitle = 'Nieuwsitem bewerken' %}

{% block form %}

    <form action="{{ path('stef_bvadminbundle_edit_news', { 'id': page.id }) }}" method="post" {{ form_enctype(form) }} class="blogger">
        {{ form_errors(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.slug, {'type' : 'hidden', 'label' : false}) }}
        {{ form_row(form.bodytext) }}

        {{ form_rest(form) }}

        <input type="submit" value="Submit" />
    </form>

    <p>Het nieuwsbericht is is opgeslagen met de slug "<strong>{{ page.slug }}</strong>"</p>
{% endblock %}