{% extends 'StefBVAdminBundle::form.html.twig' %}
{% set pagetitle = 'Nieuwsitem toevoegen' %}

{% block form %}

    <form action="{{ path('stef_bvadminbundle_add_news') }}" method="post" {{ form_enctype(form) }} class="blogger">
        {{ form_errors(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.picture) }}
        {{ form_row(form.slug, {value : 'Auto Generated', 'type' : 'hidden', 'label' : false}) }}
        {{ form_row(form.bodytext) }}

        <input type="submit" value="Opslaan" />
    </form>
{% endblock %}